<h1>New user</h1>

<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :age %>
    <%= form.text_field :age %>
  </div>
  <div>
    <%= form.submit :save %>
  </div>
<% end %>